body {
  background-color: #eef2f5; }
  body header {
    box-shadow: 0 1px 3px #b6b6b6;
    background-color: #fff; }
    body header .container .row .col-md-12 nav .collapse ul li {
      height: 40px;
      border-bottom: 1px solid transparent; }
      body header .container .row .col-md-12 nav .collapse ul li a {
        padding-bottom: 18px; }
        body header .container .row .col-md-12 nav .collapse ul li a:hover {
          color: #000;
          border-bottom: 1px solid red; }
    body header .container .row .col-md-12 nav .collapse .tel h5 {
      font-size: 22px;
      font-weight: 900; }
    body header .container .row .col-md-12 nav .collapse .nav-item .nav-link {
      cursor: pointer; }
      body header .container .row .col-md-12 nav .collapse .nav-item .nav-link i {
        font-size: 10px; }
    body header .container .row .col-md-12 nav .collapse .man {
      width: 36px;
      height: 36px;
      border-radius: 50%;
      text-align: center;
      padding-top: 3.5px;
      background-color: #eef2f5; }
  body section {
    border-bottom: 1px solid #9a9a9a; }
    body section .container .row .col-md-6:nth-child(2) button {
      background-color: #eef2f5;
      width: 90px;
      height: 40px;
      border-radius: 6px;
      border: 1px solid #000; }
      body section .container .row .col-md-6:nth-child(2) button:focus {
        background-color: red;
        color: #fff;
        border: 1px solid transparent;
        outline: 0;
        transition: 0.5s; }
  body main .container .row .col-md-4:nth-child(1) .card {
    border-radius: 10px;
    transition: all .5s; }
    body main .container .row .col-md-4:nth-child(1) .card:hover {
      box-shadow: 0 5px 20px #b6b6b6; }
    body main .container .row .col-md-4:nth-child(1) .card img {
      border-radius: 10px 10px 0 0; }
    body main .container .row .col-md-4:nth-child(1) .card .card-body {
      height: 388px;
      overflow: hidden;
      border: 1px solid transparent; }
      body main .container .row .col-md-4:nth-child(1) .card .card-body:hover {
        border: 1px solid red;
        border-radius: 0 0 10px 10px; }
      body main .container .row .col-md-4:nth-child(1) .card .card-body:hover {
        border-top: 1px solid transparent; }
      body main .container .row .col-md-4:nth-child(1) .card .card-body:hover .red-box {
        transform: translateY(-62px);
        border: 2px solid red; }
      body main .container .row .col-md-4:nth-child(1) .card .card-body .row .col-md-6:nth-child(1) h6 {
        margin: 20px 0 5px 0;
        font-size: 14px;
        color: #cecece;
        font-weight: 500; }
      body main .container .row .col-md-4:nth-child(1) .card .card-body .row .col-md-6:nth-child(1) h5 {
        font-size: 14px;
        margin: 0 0 5px 0; }
      body main .container .row .col-md-4:nth-child(1) .card .card-body .row .col-md-6:nth-child(2) h6 {
        margin: 20px 0 5px 30px;
        font-size: 14px;
        color: #cecece;
        font-weight: 500; }
      body main .container .row .col-md-4:nth-child(1) .card .card-body .row .col-md-6:nth-child(2) h5 {
        font-size: 14px;
        margin: 0 0 5px 30px; }
      body main .container .row .col-md-4:nth-child(1) .card .card-body .border1 {
        margin-top: 40px;
        border-top: 1px solid #a3a3a3;
        width: 348px; }
      body main .container .row .col-md-4:nth-child(1) .card .card-body .h1 {
        text-align: center;
        margin-top: 15px;
        font-weight: bold;
        margin-bottom: 0; }
        body main .container .row .col-md-4:nth-child(1) .card .card-body .h1 span {
          font-size: 30px;
          font-weight: 400; }
      body main .container .row .col-md-4:nth-child(1) .card .card-body .h6 {
        margin-top: 0;
        padding-top: 0;
        margin-bottom: 25px;
        text-align: center;
        color: #afafaf; }
      body main .container .row .col-md-4:nth-child(1) .card .card-body .row {
        padding: 0 28px 0 28px; }
        body main .container .row .col-md-4:nth-child(1) .card .card-body .row .col-md-4:nth-child(1) .text-1 {
          font-weight: 700; }
        body main .container .row .col-md-4:nth-child(1) .card .card-body .row .col-md-4:nth-child(2) .text-1 {
          font-weight: 700;
          color: grey; }
        body main .container .row .col-md-4:nth-child(1) .card .card-body .row .col-md-4:nth-child(3) .text-1 {
          font-weight: 700;
          color: #1dd1a1; }
        body main .container .row .col-md-4:nth-child(1) .card .card-body .row .col-md-4 .text-1 {
          text-align: center;
          margin-bottom: 0; }
        body main .container .row .col-md-4:nth-child(1) .card .card-body .row .col-md-4 .text-2 {
          text-align: center;
          font-size: 12px; }
      body main .container .row .col-md-4:nth-child(1) .card .card-body .red-box {
        background-color: red;
        border-radius: 0 0 6px 6px;
        height: 85px;
        transform: translateY(23px);
        transition: all .5s;
        border: 3px solid red; }
        body main .container .row .col-md-4:nth-child(1) .card .card-body .red-box .col-md-6:nth-child(1) h6 {
          font-size: 18px;
          color: #fff; }
        body main .container .row .col-md-4:nth-child(1) .card .card-body .red-box .col-md-6:nth-child(2) i {
          font-size: 35px;
          margin-top: 24px;
          margin-left: 104px;
          color: #fff; }
  body main .container .row .col-md-4:nth-child(2) .card {
    border-radius: 10px;
    transition: all .5s; }
    body main .container .row .col-md-4:nth-child(2) .card:hover {
      box-shadow: 0 5px 20px #b6b6b6; }
    body main .container .row .col-md-4:nth-child(2) .card img {
      border-radius: 10px 10px 0 0; }
    body main .container .row .col-md-4:nth-child(2) .card .card-body {
      height: 388px;
      overflow: hidden;
      border: 1px solid transparent; }
      body main .container .row .col-md-4:nth-child(2) .card .card-body:hover {
        border: 1px solid red;
        border-radius: 0 0 10px 10px; }
      body main .container .row .col-md-4:nth-child(2) .card .card-body:hover {
        border-top: 1px solid transparent; }
      body main .container .row .col-md-4:nth-child(2) .card .card-body:hover .red-box {
        transform: translateY(-64px);
        border: 2px solid red; }
      body main .container .row .col-md-4:nth-child(2) .card .card-body .row .col-md-6:nth-child(1) h6 {
        margin: 20px 0 5px 0;
        font-size: 14px;
        color: #cecece;
        font-weight: 500; }
      body main .container .row .col-md-4:nth-child(2) .card .card-body .row .col-md-6:nth-child(1) h5 {
        font-size: 14px;
        margin: 0 0 5px 0; }
      body main .container .row .col-md-4:nth-child(2) .card .card-body .row .col-md-6:nth-child(2) h6 {
        margin: 20px 0 5px 30px;
        font-size: 14px;
        color: #cecece;
        font-weight: 500; }
      body main .container .row .col-md-4:nth-child(2) .card .card-body .row .col-md-6:nth-child(2) h5 {
        font-size: 14px;
        margin: 0 0 5px 30px; }
      body main .container .row .col-md-4:nth-child(2) .card .card-body .border1 {
        margin-top: 40px;
        border-top: 1px solid #a3a3a3;
        width: 348px; }
      body main .container .row .col-md-4:nth-child(2) .card .card-body .row .col-md-6 .h1 {
        text-align: center;
        font-weight: bold;
        margin-bottom: 0;
        font-size: 24px; }
        body main .container .row .col-md-4:nth-child(2) .card .card-body .row .col-md-6 .h1 span {
          font-size: 12px;
          font-weight: 400; }
      body main .container .row .col-md-4:nth-child(2) .card .card-body .h6 {
        margin-top: 0;
        padding-top: 0;
        margin-bottom: 25px;
        text-align: center;
        color: #afafaf; }
      body main .container .row .col-md-4:nth-child(2) .card .card-body .row {
        padding: 0 28px 0 28px; }
        body main .container .row .col-md-4:nth-child(2) .card .card-body .row .col-md-4:nth-child(1) .text-1 {
          font-weight: 700; }
        body main .container .row .col-md-4:nth-child(2) .card .card-body .row .col-md-4:nth-child(2) .text-1 {
          font-weight: 700;
          color: grey; }
        body main .container .row .col-md-4:nth-child(2) .card .card-body .row .col-md-4:nth-child(3) .text-1 {
          font-weight: 700;
          color: #1dd1a1; }
        body main .container .row .col-md-4:nth-child(2) .card .card-body .row .col-md-4 .text-1 {
          text-align: center;
          margin-bottom: 0; }
        body main .container .row .col-md-4:nth-child(2) .card .card-body .row .col-md-4 .text-2 {
          text-align: center;
          font-size: 12px; }
      body main .container .row .col-md-4:nth-child(2) .card .card-body .red-box {
        background-color: red;
        border-radius: 0 0 6px 6px;
        height: 85px;
        transform: translateY(23px);
        transition: all .5s;
        border: 3px solid red; }
        body main .container .row .col-md-4:nth-child(2) .card .card-body .red-box .col-md-6:nth-child(1) h6 {
          font-size: 18px;
          color: #fff; }
        body main .container .row .col-md-4:nth-child(2) .card .card-body .red-box .col-md-6:nth-child(2) i {
          font-size: 35px;
          margin-top: 24px;
          margin-left: 104px;
          color: #fff; }
  body main .container .row .col-md-4:nth-child(3) .card {
    border-radius: 10px;
    transition: all .5s; }
    body main .container .row .col-md-4:nth-child(3) .card:hover {
      box-shadow: 0 5px 20px #b6b6b6; }
    body main .container .row .col-md-4:nth-child(3) .card img {
      border-radius: 10px 10px 0 0; }
    body main .container .row .col-md-4:nth-child(3) .card .card-body {
      height: 388px;
      overflow: hidden;
      border: 1px solid transparent; }
      body main .container .row .col-md-4:nth-child(3) .card .card-body:hover {
        border: 1px solid red;
        border-radius: 0 0 10px 10px; }
      body main .container .row .col-md-4:nth-child(3) .card .card-body:hover {
        border-top: 1px solid transparent; }
      body main .container .row .col-md-4:nth-child(3) .card .card-body:hover .red-box {
        transform: translateY(-64px);
        border: 2px solid red; }
      body main .container .row .col-md-4:nth-child(3) .card .card-body .row .col-md-6:nth-child(1) h6 {
        margin: 20px 0 5px 0;
        font-size: 14px;
        color: #cecece;
        font-weight: 500; }
      body main .container .row .col-md-4:nth-child(3) .card .card-body .row .col-md-6:nth-child(1) h5 {
        font-size: 14px;
        margin: 0 0 5px 0; }
      body main .container .row .col-md-4:nth-child(3) .card .card-body .row .col-md-6:nth-child(2) h6 {
        margin: 20px 0 5px 30px;
        font-size: 14px;
        color: #cecece;
        font-weight: 500; }
      body main .container .row .col-md-4:nth-child(3) .card .card-body .row .col-md-6:nth-child(2) h5 {
        font-size: 14px;
        margin: 0 0 5px 30px; }
      body main .container .row .col-md-4:nth-child(3) .card .card-body .border1 {
        margin-top: 40px;
        border-top: 1px solid #a3a3a3;
        width: 348px; }
      body main .container .row .col-md-4:nth-child(3) .card .card-body .row .col-md-6 .h1 {
        text-align: center;
        font-weight: bold;
        margin-bottom: 0;
        font-size: 24px; }
        body main .container .row .col-md-4:nth-child(3) .card .card-body .row .col-md-6 .h1 span {
          font-size: 12px;
          font-weight: 400; }
      body main .container .row .col-md-4:nth-child(3) .card .card-body .h6 {
        margin-top: 0;
        padding-top: 0;
        margin-bottom: 25px;
        text-align: center;
        color: #afafaf; }
      body main .container .row .col-md-4:nth-child(3) .card .card-body .row {
        padding: 0 28px 0 28px; }
        body main .container .row .col-md-4:nth-child(3) .card .card-body .row .col-md-4:nth-child(1) .text-1 {
          font-weight: 700; }
        body main .container .row .col-md-4:nth-child(3) .card .card-body .row .col-md-4:nth-child(2) .text-1 {
          font-weight: 700;
          color: grey; }
        body main .container .row .col-md-4:nth-child(3) .card .card-body .row .col-md-4:nth-child(3) .text-1 {
          font-weight: 700;
          color: #1dd1a1; }
        body main .container .row .col-md-4:nth-child(3) .card .card-body .row .col-md-4 .text-1 {
          text-align: center;
          margin-bottom: 0; }
        body main .container .row .col-md-4:nth-child(3) .card .card-body .row .col-md-4 .text-2 {
          text-align: center;
          font-size: 12px; }
      body main .container .row .col-md-4:nth-child(3) .card .card-body .red-box {
        background-color: red;
        border-radius: 0 0 6px 6px;
        height: 85px;
        transform: translateY(23px);
        transition: all .5s;
        border: 3px solid red; }
        body main .container .row .col-md-4:nth-child(3) .card .card-body .red-box .col-md-6:nth-child(1) h6 {
          font-size: 18px;
          color: #fff; }
        body main .container .row .col-md-4:nth-child(3) .card .card-body .red-box .col-md-6:nth-child(2) i {
          font-size: 35px;
          margin-top: 24px;
          margin-left: 104px;
          color: #fff; }
  body main .container .row .col-md-4:nth-child(4) .card {
    border-radius: 10px;
    transition: all .5s; }
    body main .container .row .col-md-4:nth-child(4) .card:hover {
      box-shadow: 0 5px 20px #b6b6b6; }
    body main .container .row .col-md-4:nth-child(4) .card img {
      border-radius: 10px 10px 0 0; }
    body main .container .row .col-md-4:nth-child(4) .card .card-body {
      height: 388px;
      overflow: hidden;
      border: 1px solid transparent;
      background-color: #e4e7ea; }
      body main .container .row .col-md-4:nth-child(4) .card .card-body:hover {
        border: 1px solid red;
        border-radius: 0 0 10px 10px; }
      body main .container .row .col-md-4:nth-child(4) .card .card-body:hover {
        border-top: 1px solid transparent; }
      body main .container .row .col-md-4:nth-child(4) .card .card-body:hover .red-box {
        transform: translateY(-64px);
        border: 2px solid red; }
      body main .container .row .col-md-4:nth-child(4) .card .card-body .row .col-md-6:nth-child(1) h6 {
        margin: 20px 0 5px 0;
        font-size: 14px;
        color: #cecece;
        font-weight: 500; }
      body main .container .row .col-md-4:nth-child(4) .card .card-body .row .col-md-6:nth-child(1) h5 {
        font-size: 14px;
        margin: 0 0 5px 0; }
      body main .container .row .col-md-4:nth-child(4) .card .card-body .row .col-md-6:nth-child(2) h6 {
        margin: 20px 0 5px 30px;
        font-size: 14px;
        color: #cecece;
        font-weight: 500; }
      body main .container .row .col-md-4:nth-child(4) .card .card-body .row .col-md-6:nth-child(2) h5 {
        font-size: 14px;
        margin: 0 0 5px 30px; }
      body main .container .row .col-md-4:nth-child(4) .card .card-body .border1 {
        margin-top: 40px;
        border-top: 1px solid #a3a3a3;
        width: 348px; }
      body main .container .row .col-md-4:nth-child(4) .card .card-body .row .col-md-6 .h1 {
        text-align: center;
        font-weight: bold;
        margin-bottom: 0;
        font-size: 24px; }
        body main .container .row .col-md-4:nth-child(4) .card .card-body .row .col-md-6 .h1 span {
          font-size: 12px;
          font-weight: 400; }
      body main .container .row .col-md-4:nth-child(4) .card .card-body .h6 {
        margin-top: 0;
        padding-top: 0;
        margin-bottom: 25px;
        text-align: center;
        color: #afafaf; }
      body main .container .row .col-md-4:nth-child(4) .card .card-body .row {
        padding: 0 28px 0 28px; }
        body main .container .row .col-md-4:nth-child(4) .card .card-body .row .col-md-4:nth-child(1) .text-1 {
          font-weight: 700; }
        body main .container .row .col-md-4:nth-child(4) .card .card-body .row .col-md-4:nth-child(2) .text-1 {
          font-weight: 700;
          color: grey; }
        body main .container .row .col-md-4:nth-child(4) .card .card-body .row .col-md-4:nth-child(3) .text-1 {
          font-weight: 700;
          color: #1dd1a1; }
        body main .container .row .col-md-4:nth-child(4) .card .card-body .row .col-md-4 .text-1 {
          text-align: center;
          margin-bottom: 0; }
        body main .container .row .col-md-4:nth-child(4) .card .card-body .row .col-md-4 .text-2 {
          text-align: center;
          font-size: 12px; }
      body main .container .row .col-md-4:nth-child(4) .card .card-body .red-box {
        background-color: red;
        border-radius: 0 0 6px 6px;
        height: 85px;
        transform: translateY(23px);
        transition: all .5s;
        border: 3px solid red; }
        body main .container .row .col-md-4:nth-child(4) .card .card-body .red-box .col-md-6:nth-child(1) h6 {
          font-size: 18px;
          color: #fff; }
        body main .container .row .col-md-4:nth-child(4) .card .card-body .red-box .col-md-6:nth-child(2) i {
          font-size: 35px;
          margin-top: 24px;
          margin-left: 104px;
          color: #fff; }
  body main .container .row .col-md-4:nth-child(5) .card {
    border-radius: 10px;
    transition: all .5s; }
    body main .container .row .col-md-4:nth-child(5) .card:hover {
      box-shadow: 0 5px 20px #b6b6b6; }
    body main .container .row .col-md-4:nth-child(5) .card img {
      border-radius: 10px 10px 0 0; }
    body main .container .row .col-md-4:nth-child(5) .card .card-body {
      height: 388px;
      overflow: hidden;
      border: 1px solid transparent;
      background-color: #e4e7ea; }
      body main .container .row .col-md-4:nth-child(5) .card .card-body:hover {
        border: 1px solid red;
        border-radius: 0 0 10px 10px; }
      body main .container .row .col-md-4:nth-child(5) .card .card-body:hover {
        border-top: 1px solid transparent; }
      body main .container .row .col-md-4:nth-child(5) .card .card-body:hover .red-box {
        transform: translateY(-64px);
        border: 2px solid red; }
      body main .container .row .col-md-4:nth-child(5) .card .card-body .row .col-md-6:nth-child(1) h6 {
        margin: 20px 0 5px 0;
        font-size: 14px;
        color: #cecece;
        font-weight: 500; }
      body main .container .row .col-md-4:nth-child(5) .card .card-body .row .col-md-6:nth-child(1) h5 {
        font-size: 14px;
        margin: 0 0 5px 0; }
      body main .container .row .col-md-4:nth-child(5) .card .card-body .row .col-md-6:nth-child(2) h6 {
        margin: 20px 0 5px 30px;
        font-size: 14px;
        color: #cecece;
        font-weight: 500; }
      body main .container .row .col-md-4:nth-child(5) .card .card-body .row .col-md-6:nth-child(2) h5 {
        font-size: 14px;
        margin: 0 0 5px 30px; }
      body main .container .row .col-md-4:nth-child(5) .card .card-body .border1 {
        margin-top: 40px;
        border-top: 1px solid #a3a3a3;
        width: 348px; }
      body main .container .row .col-md-4:nth-child(5) .card .card-body .row .col-md-6 .h1 {
        text-align: center;
        font-weight: bold;
        margin-bottom: 0;
        font-size: 24px; }
        body main .container .row .col-md-4:nth-child(5) .card .card-body .row .col-md-6 .h1 span {
          font-size: 12px;
          font-weight: 400; }
      body main .container .row .col-md-4:nth-child(5) .card .card-body .h6 {
        margin-top: 0;
        padding-top: 0;
        margin-bottom: 25px;
        text-align: center;
        color: #afafaf; }
      body main .container .row .col-md-4:nth-child(5) .card .card-body .row {
        padding: 0 28px 0 28px; }
        body main .container .row .col-md-4:nth-child(5) .card .card-body .row .col-md-4:nth-child(1) .text-1 {
          font-weight: 700; }
        body main .container .row .col-md-4:nth-child(5) .card .card-body .row .col-md-4:nth-child(2) .text-1 {
          font-weight: 700;
          color: grey; }
        body main .container .row .col-md-4:nth-child(5) .card .card-body .row .col-md-4:nth-child(3) .text-1 {
          font-weight: 700;
          color: #1dd1a1; }
        body main .container .row .col-md-4:nth-child(5) .card .card-body .row .col-md-4 .text-1 {
          text-align: center;
          margin-bottom: 0; }
        body main .container .row .col-md-4:nth-child(5) .card .card-body .row .col-md-4 .text-2 {
          text-align: center;
          font-size: 12px; }
      body main .container .row .col-md-4:nth-child(5) .card .card-body .red-box {
        background-color: red;
        border-radius: 0 0 6px 6px;
        height: 85px;
        transform: translateY(23px);
        transition: all .5s;
        border: 3px solid red; }
        body main .container .row .col-md-4:nth-child(5) .card .card-body .red-box .col-md-6:nth-child(1) h6 {
          font-size: 18px;
          color: #fff; }
        body main .container .row .col-md-4:nth-child(5) .card .card-body .red-box .col-md-6:nth-child(2) i {
          font-size: 35px;
          margin-top: 24px;
          margin-left: 104px;
          color: #fff; }
  body footer {
    margin-top: 325px;
    background-color: #fff; }
    body footer .container .row .col-md-1 img {
      width: 120px;
      height: 70px; }
    body footer .container .row .col-md-7 ul li a {
      color: #000; }
    body footer .container .row .col-md-7 p {
      color: #b2b2b2;
      margin-top: 10px; }
    body footer .container .row .col-md-3 {
      margin-left: 95px; }
      body footer .container .row .col-md-3 .img-1 {
        margin-top: 10px;
        width: 24px;
        height: 26px; }
      body footer .container .row .col-md-3 p {
        font-weight: 900;
        margin-left: 5px;
        font-size: 25px; }

/*# sourceMappingURL=main.css.map */
