/*********************fonts style****************/
@font-face {
  font-family: "OpenSans-Bold";
  src: url("../fonts/Open_Sans/OpenSans-Bold.ttf") format("truetype"); }
@font-face {
  font-family: "OpenSans-Light";
  src: url("../fonts/Open_Sans/OpenSans-light.ttf") format("truetype"); }
@font-face {
  font-family: "OpenSans-Regular";
  src: url("../fonts/Open_Sans/OpenSans-Regular.ttf") format("truetype"); }
@font-face {
  font-family: "OpenSans-SemiBold";
  src: url("../fonts/Open_Sans/OpenSans-SemiBold.ttf") format("truetype"); }
.font-family-bold {
  font-family: "OpenSans-Bold", "OpenSans-Regular", sans-serif !important; }

.font-family-light {
  font-family: "OpenSans-Light", "OpenSans-Regular", sans-serif !important; }

.font-family-regular {
  font-family: "OpenSans-Regular", sans-serif !important; }

.font-family-Semi-Bold {
  font-family: "OpenSans-SemiBold", sans-serif !important; }

/*********colors style*******/
/*********mixins style********/
/********icons style**********/
.icon {
  width: 25px;
  height: 25px;
  display: inline-block;
  mask-repeat: no-repeat;
  mask-size: 100%;
  mask-position: center;
  -webkit-mask-repeat: no-repeat;
  -webkit-mask-size: 100%;
  -webkit-mask-position: center;
  background-color: #949494;
  vertical-align: sub; }
  .icon.icon-search {
    mask-image: url("../images/icons/search.svg");
    -webkit-mask-image: url("../images/icons/search.svg"); }
  .icon.icon-heart {
    mask-image: url("../images/icons/heart.svg");
    -webkit-mask-image: url("../images/icons/heart.svg"); }
  .icon.icon-basket {
    mask-image: url("../images/icons/shopping-cart.svg");
    -webkit-mask-image: url("../images/icons/shopping-cart.svg"); }
  .icon.icon-eye {
    mask-image: url("../images/icons/eye-open.svg");
    -webkit-mask-image: url("../images/icons/eye-open.svg"); }
  .icon.icon-download {
    mask-image: url("../images/icons/download.svg");
    -webkit-mask-image: url("../images/icons/download.svg"); }
  .icon.icon-email {
    mask-image: url("../images/icons/mail.svg");
    -webkit-mask-image: url("../images/icons/mail.svg"); }
  .icon.icon-phone {
    mask-image: url("../images/icons/phone.svg");
    -webkit-mask-image: url("../images/icons/phone.svg"); }
  .icon.icon-location {
    mask-image: url("../images/icons/map-pin.svg");
    -webkit-mask-image: url("../images/icons/map-pin.svg"); }
  .icon.icon-play {
    mask-image: url("../images/icons/media-play-symbol.svg");
    -webkit-mask-image: url("../images/icons/media-play-symbol.svg"); }
  .icon.icon-up {
    mask-image: url("../images/icons/thumbs-up.svg");
    -webkit-mask-image: url("../images/icons/thumbs-up.svg"); }
  .icon.icon-play {
    mask-image: url("../images/icons/play-button.svg");
    -webkit-mask-image: url("../images/icons/play-button.svg"); }
  .icon.icon-down {
    mask-image: url("../images/icons/thumbs-down.svg");
    -webkit-mask-image: url("../images/icons/thumbs-down.svg"); }
  .icon.icon-white {
    background-color: #fff; }
  .icon.icon-violet {
    background-color: #5a077d; }
  .icon.icon-grey {
    background-color: #858585; }
  .icon.icon-md {
    width: 15px;
    height: 15px; }
  .icon.icon-lg {
    width: 20px;
    height: 20px; }

.text-violet {
  color: #5a077d; }

.text-green {
  color: #12d21d; }

.bg-violet {
  background-color: #5a077d; }

body section#sanjar .nav .nav-item .nav-link:hover {
  color: #9d69b1 !important; }
body section#sanjar .nav .nav-item .nav-link:after {
  content: '';
  height: 2px;
  background-color: #5a077d;
  display: block;
  transform: scaleX(0);
  transition-duration: 0.5s; }
body section#sanjar .nav .nav-item .nav-link:hover:after {
  transform: scaleX(1) translateY(5px); }
body section#sanjar .nav .nav-item:nth-child(3) {
  margin-left: 422px; }
body section#sanjar .container .row .col-md-9 .row .col-md-4 .card img {
  width: 100%;
  height: 165px; }
body section#sanjar .container .row .col-md-9 .row .col-md-4 .card-body .sana {
  font-size: 12px;
  color: grey; }
body section#sanjar .container .row .col-md-9 .row .col-md-4 .card-body .text-uppercase {
  font-size: 15px;
  height: 60px; }
body section#sanjar .container .row .col-md-3 .card {
  border: 0;
  position: relative; }
  body section#sanjar .container .row .col-md-3 .card:hover .btn {
    opacity: 1; }
  body section#sanjar .container .row .col-md-3 .card img {
    width: 100%;
    transition: all .5s; }
    body section#sanjar .container .row .col-md-3 .card img:hover {
      opacity: .5; }
  body section#sanjar .container .row .col-md-3 .card .btn {
    position: absolute;
    background-color: transparent;
    top: 68px;
    left: 110px;
    width: 46px;
    height: 46px;
    border-radius: 50%;
    opacity: 0;
    z-index: 10; }
    body section#sanjar .container .row .col-md-3 .card .btn .icon-play {
      width: 45px;
      height: 45px;
      margin-left: -13px;
      margin-top: -7px; }
body section#sanjar .container .row .col-md-3 .delfin p {
  font-size: 12px;
  color: grey; }
body section#sanjar .container .row .col-md-3 .delfin .icon-eye {
  margin-left: 69px;
  margin-right: 5px; }
body section#sanjar .container .row .col-md-3 .delfin .icon-up {
  margin-left: 15px;
  margin-right: 5px; }
body section#sanjar .container .row .col-md-3 .delfin .icon-down {
  margin-left: 15px;
  margin-right: 5px; }
body section#sanjar .container .row .col-md-3 .kichik {
  width: 40%;
  margin-right: 15px;
  position: relative;
  padding-bottom: 0; }
  body section#sanjar .container .row .col-md-3 .kichik img {
    width: 100%; }
  body section#sanjar .container .row .col-md-3 .kichik .k {
    position: absolute;
    background-color: transparent;
    top: 25px;
    left: 40px;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    opacity: 1;
    z-index: 10; }
    body section#sanjar .container .row .col-md-3 .kichik .k .icon-play {
      width: 26px;
      height: 26px;
      margin-left: -10px;
      margin-top: -5px; }
body section#sanjar .container .row .col-md-3 .d-flex .d-inline-block img {
  width: 100%; }

/*# sourceMappingURL=main.css.map */
