.col-md-6 {
  .carousel {
    ul {
      li {
        width: 15px;
        height: 15px;
        border-radius: 50%;
        background-color: #242462;
       margin-bottom: -2rem;
      }
    }
  }
}


.btn-primary{
  background-color: #242462!important;
}

.form-control{
  width: 98%!important;
}