
.row{
    width: 450px;
    height: 220px;
    margin: 0 auto;
    margin-top: 200px;

    display: flex;
    box-sizing: border-box;
    flex-wrap: wrap;
}
.col, .col2, .col3, .col4, .col5{
    width: 100px;
    height: 100px;
    background-color: gray;
    margin-left: 10px;
    margin-top: 10px;
}
