body{
    background-color: silver;
}
.row{
    width: 300px;
    height: 200px;
    margin: 0 auto;
    margin-top:60px;
    display:flex;
    align-items: center;

}

.col{
    width:40px;
    height: 100px;
    background-color:white;
    border-radius:10px 10px 13px 13px;
    padding-top:10px;
    box-sizing: border-box;
    margin: 1.5px;
    animation-name: col;
    animation-duration:1s;
    animation-iteration-count:infinite;
    animation-timing-function:ease;
    animation-delay: 0.1s;
}
@keyframes col {
    0%{



    }
    50%{
        height: 50px;

    }
    100%{
        height: 100px;
    }


}
.col:nth-child(2) {
    height: 110px;
    padding-top: 8px;
    animation-delay: 0.2s;
}
.col:nth-child(3){
    height: 120px;
    animation-delay: 0.3s;
}
.col:nth-child(4){
    height:105px;
    animation-delay: 0.4s;
}
.col:nth-child(5){
    width:50px;
    height: 38px;
    border-radius:0 25px 60px 0;
    animation-delay: 0.5s;
}
/*.col:nth-child(5)::after{*/
    /*content: '';*/
    /*border:20px solid #fff;*/
    /*border-top-color:transparent;*/
    /*border-bottom-color:transparent;*/
    /*border-right-color:transparent;*/
    /**/
    /*!*border-radius: 100px 100px 100px 100px;*!*/
/*}*/
.line{
    border-bottom:2px solid green;
    width:24px;
    margin:0 auto;
    margin-top:3px;
}

.toe{
    width:30px;
    height:32px;
    background-color:green;
    margin:0 auto;
    margin-top: 42px;
    border-radius:19px 19px 10px 10px;
    animation-name: toe;
    animation-duration:1s;
    animation-iteration-count:infinite;
    animation-timing-function:ease;
    animation-delay: 0.7s;
}
@keyframes toe {
    from{
        transform:translateY(0);
    }
    to{
        transform: translateY(-5px);
    }

}
.col:nth-child(2) .toe{
    margin-top: 54px;
    animation-delay: 0.2s;
}
.col:nth-child(3) .toe{
    margin-top: 62px;
    animation-delay: 0.3s;
}
.col:nth-child(4) .toe{
    margin-top:48px;
    animation-delay: 0.4s;
}