/*********************fonts style****************/

@font-face {
  font-family: "OpenSans-Bold";
  src: url("../fonts/Open_Sans/OpenSans-Bold.ttf") format('truetype') ;
}

@font-face {
  font-family: "OpenSans-Light";
  src: url("../fonts/Open_Sans/OpenSans-light.ttf") format('truetype') ;
}

@font-face {
  font-family: "OpenSans-Regular";
  src: url("../fonts/Open_Sans/OpenSans-Regular.ttf") format('truetype') ;
}

@font-face {
  font-family: "OpenSans-SemiBold";
  src: url("../fonts/Open_Sans/OpenSans-SemiBold.ttf") format('truetype');
}

.font-family-bold {
  font-family: "OpenSans-Bold", "OpenSans-Regular", sans-serif !important;
}

.font-family-light {
  font-family: "OpenSans-Light", "OpenSans-Regular", sans-serif !important;
}

.font-family-regular {
  font-family: "OpenSans-Regular", sans-serif !important;
}

.font-family-Semi-Bold {
  font-family: "OpenSans-SemiBold", sans-serif !important;
}


/*********colors style*******/
$color-grey: #f1f1f1;
$color-silver: #858585;
$color-icons: #949494;
$color-button: #5a077d;
$color-green: #45d881;
$color-green-2: #12d21d;
$color-white: #ffffff;
$color-black: #000000;
$color-button2: #9d69b1;
/*********mixins style********/
@mixin mask-image($url) {
  mask-image: url($url);
  -webkit-mask-image: url($url);
}

/********icons style**********/
.icon {
  width: 25px;
  height: 25px;
  display: inline-block;
  mask: {
    repeat: no-repeat;
    size: 100%;
    position: center;
  }
  -webkit-mask: {
    repeat: no-repeat;
    size: 100%;
    position: center;
  }
  background-color: $color-icons;
  vertical-align: sub;

  &.icon-search {
    @include mask-image("../images/icons/search.svg");

  }

  &.icon-heart {
    @include mask-image("../images/icons/heart.svg");

  }

  &.icon-basket {
    @include mask-image("../images/icons/shopping-cart.svg");

  }

  &.icon-eye {
    @include mask-image("../images/icons/eye-open.svg");

  }

  &.icon-download {
    @include mask-image("../images/icons/download.svg");
  }

  &.icon-email {
    @include mask-image("../images/icons/mail.svg");

  }

  &.icon-phone {
    @include mask-image("../images/icons/phone.svg");

  }

  &.icon-location {
    @include mask-image("../images/icons/map-pin.svg");

  }

  &.icon-play {
    @include mask-image("../images/icons/media-play-symbol.svg")
  }

  &.icon-up {
    @include mask-image("../images/icons/thumbs-up.svg")
  }

  &.icon-play {
    @include mask-image("../images/icons/play-button.svg")
  }

  &.icon-down {
    @include mask-image("../images/icons/thumbs-down.svg")
  }

  &.icon-white {
    background-color: #fff;
  }

  &.icon-violet {
    background-color: $color-button;

  }

  &.icon-grey {
    background-color: $color-silver;

  }

  &.icon-md {
    width: 15px;
    height: 15px;
  }

  &.icon-lg {
    width: 20px;
    height: 20px;
  }


}


.text-violet {
  color: $color-button;
}

.text-green {
  color: $color-green-2;
}

.bg-violet {
  background-color: $color-button;
}


body {
  section {
    &#sanjar {
      .nav {
        .nav-item{
          .nav-link {

            &:hover {
              color: $color-button2 !important;
            }

            &:after {
              content: '';
              height: 2px;
              background-color: $color-button;
              display: block;
              transform: scaleX(0);
              transition-duration: 0.5s;

            }

            &:hover {
              &:after {
                transform: scaleX(1) translateY(5px);

              }
            }
          }
        }
        .nav-item:nth-child(3) {
        margin-left: 422px;


        }
      }


      .container {
        .row {
          .col-md-9 {
            .row {
              .col-md-4 {
                .card {
                  img {
                    width: 100%;
                    height: 165px;
                  }

                }

                .card-body {
                  .sana {
                    font-size: 12px;
                    color: grey;
                  }

                  .text-uppercase {
                    font-size: 15px;
                    height: 60px;
                  }
                }
              }
            }
          }

          .col-md-3 {

            .card {
              border: 0;
              position: relative;

              &:hover .btn {
                opacity: 1;
              }

              img {
                width: 100%;
                transition: all .5s;

                &:hover {
                  opacity: .5;
                }
              }


              .btn {
                position: absolute;
                background-color: transparent;
                top: 68px;
                left: 110px;
                width: 46px;
                height: 46px;
                border-radius: 50%;
                opacity: 0;


                z-index: 10;

                .icon-play {
                  width: 45px;
                  height: 45px;
                  margin-left: -13px;
                  margin-top: -7px;
                }
              }

            }

            .delfin {
              p {
                font-size: 12px;
                color: grey;
              }

              .icon-eye {
                margin-left: 69px;
                margin-right: 5px;
              }

              .icon-up {
                margin-left: 15px;
                margin-right: 5px;
              }

              .icon-down {
                margin-left: 15px;
                margin-right: 5px;
              }

            }

            .kichik {
              width: 40%;
              margin-right: 15px;
              position: relative;
              padding-bottom: 0;

              img {
                width: 100%;
              }

              .k {
                position: absolute;
                background-color: transparent;
                top: 25px;
                left: 40px;
                width: 20px;
                height: 20px;
                border-radius: 50%;
                opacity: 1;

                z-index: 10;

                .icon-play {
                  width: 26px;
                  height: 26px;
                  margin-left: -10px;
                  margin-top: -5px;
                }
              }
            }

            .d-flex {
              .d-inline-block {
                img {
                  width: 100%;
                }
              }
            }
          }
        }
      }
    }
  }
}

